:root {
    --main-font: 'Inter';
    --main-font-weight: 400;
    --main-font-color: #000;
    --title-font-weight: 715;
    --accent-font: 'PressStart2P';
    --accent-color: #000;
    --cover-color: #fff;
    --cover-image: 
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7, #1a1a1a);

    --like-icon-bg-color: red;
    --like-icon-fg-color: black;
    --contour-fill-color: var(--like-icon-fg-color);
    --main-body-fill-color: transparent;
    --core-fill-color: transparent;
    --sparks-fill-color: transparent;

    --heart-animation: none;
    --sparks-animation: none;

    --contour-transition: none;
    --main-body-transition: none;
    --core-transition: none;

    /* эффекты для изображений */
    --image-effect-contrast: 1.5;
    --image-effect-saturation: 0.5;
    --image-effect-hue: 45deg;
    --image-effect-invert: 1.0;
    --image-effect-sepia: 1.0;
    --image-effect-blur: 10px;
    --image-effect-mixed: 
        hue-rotate(var(--image-effect-hue))
        saturate(var(--image-effect-saturation));
}

/* анимация иконки сердца */

.card__icon-button {
  --contour-fill-color: var(--icon-like-fg-color);
  --main-body-fill-color: transparent;
  --core-fill-color: transparent;
  --sparks-fill-color: transparent;
}

.card__icon-button:hover {
  --main-body-fill-color: var(--like-icon-fg-color);
  --contour-fill-color: var(--like-icon-fg-color);
  --core-fill-color: var(--like-icon-fg-color);
  --sparks-fill-color: transparent;

  --core-transition: fill 0.3s linear 0s;
  --main-body-transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active {
  --main-body-fill-color: var(--like-icon-bg-color);
  --contour-fill-color: var(--like-icon-fg-color);
  --core-fill-color: var(--like-icon-bg-color);
  --sparks-fill-color: transparent;

  --core-transition: fill 0.3s linear 0s;
  --main-body-transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked {
  --main-body-fill-color: var(--like-icon-bg-color);
  --contour-fill-color: var(--like-icon-bg-color);
  --core-fill-color: var(--like-icon-bg-color);
  --sparks-fill-color: transparent;

  --heart-animation: heart 0.3s ease-in 0.1s;
  --sparks-animation: sparks 0.3s ease-in 0.1s;

  --contour-transition: fill 0.3s linear 0.06s;
  --main-body-transition: fill 0.3s linear 0.05s;
  --core-transition: fill 0.3s linear 0s;
}